body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    max-width: 600px;
    max-height: 270px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    position: relative;
}
.input-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.half{
    width: 50%;
}

.card{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}
label{
    margin: 5px;
}
button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}
.footer-button-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
}
.tooltip{
    color: #888;
    width: 100%;
    text-align: center;
}